<html>

<head>
<meta name="author" content="Obinna Mogbogu from ISU">
<title>People who died while climbing Mount Everest</title>
</head>

<body>
<h1>People who died while climbing Mount Everest</h1>
<!--begin.rcode echo=FALSE, warning=FALSE
library("rvest")
library(ggplot2)

###########Data computation###################
MountEve <- html("http://en.wikipedia.org/wiki/List_of_people_who_died_climbing_Mount_Everest")
dfMountEve <- html_table(html_nodes(MountEve, "table")[[1]], fill=TRUE)

allDeathCase <- dfMountEve[c(1,2)]#Selected only the 1st column NAME, and second column DATE

#JAN
allDeathJan <- subset(allDeathCase, grepl(".Jan",Date))
allDeathJanCount <- nrow(allDeathJan)
#allDeathJanCount

#FEB
allDeathFeb <- subset(allDeathCase, grepl(".Feb",Date))
allDeathFebCount <- nrow(allDeathFeb)
#allDeathFebCount

#MAR
allDeathMar <- subset(allDeathCase, grepl(".Mar",Date))
allDeathMarCount <- nrow(allDeathMar)
#allDeathMarCount

#APR
allDeathApr <- subset(allDeathCase, grepl(".Apr",Date))
allDeathAprCount <- nrow(allDeathApr)
#allDeathAprCount

#MAY
allDeathMay <- subset(allDeathCase, grepl(".May",Date))
allDeathMayCount <- nrow(allDeathMay)
#allDeathMayCount

#JUN
allDeathJun <- subset(allDeathCase, grepl(".Jun",Date))
allDeathJunCount <- nrow(allDeathJun)
#allDeathJunCount

#JUL
allDeathJul <- subset(allDeathCase, grepl(".Jul",Date))
allDeathJulCount <- nrow(allDeathJul)
#allDeathJulCount

#AUG
allDeathAug <- subset(allDeathCase, grepl(".Aug",Date))
allDeathAugCount <- nrow(allDeathAug)
#allDeathAugCount

#SEPT
allDeathSept <- subset(allDeathCase, grepl(".Sept",Date))
allDeathSeptCount <- nrow(allDeathSept)
#allDeathSeptCount

#OCT
allDeathOct <- subset(allDeathCase, grepl(".Oct",Date))
allDeathOctCount <- nrow(allDeathOct)
#allDeathOctCount

#NOV
allDeathNov <- subset(allDeathCase, grepl(".Nov",Date))
allDeathNovCount <- nrow(allDeathNov)
#allDeathNovCount

#DEC
allDeathDec <- subset(allDeathCase, grepl(".Dec",Date))
allDeathDecCount <- nrow(allDeathDec)
#allDeathDecCount

#total number of death check
totalDeath <- c(allDeathJanCount, allDeathFebCount, allDeathMarCount, allDeathAprCount, allDeathMayCount, allDeathJunCount, allDeathJulCount, allDeathAugCount, allDeathSeptCount, allDeathOctCount, allDeathNovCount, allDeathDecCount)
count <- sum(totalDeath)
#count

###########Data computation###################

month <- c("January", "February", "March", "April",  "May",  "June", "July",  "August",  "September", "October", "November", "December")

deathCount <-c(allDeathJanCount, allDeathFebCount, allDeathMarCount, allDeathAprCount, allDeathMayCount, allDeathJunCount, allDeathJulCount, allDeathAugCount, allDeathSeptCount, allDeathOctCount, allDeathNovCount, allDeathDecCount)


df <- data.frame(month, deathCount)
#i have reordered my month because ggplot happens to treat the representation of month in an unexpected way. The code below takes care of the reordering using the factor function. 
df$month <- factor(df$month, levels=c("January", "February", "March", "April",  "May",  "June", "July",  "August",  "September", "October", "November", "December"))

g <- ggplot(df, aes(x=month, y=deathCount)) + geom_bar(stat="identity")
g + scale_fill_grey() + ggtitle("Deaths by Months")+ labs(x="Month", y="Number of Death") + coord_flip() + scale_y_continuous(breaks = seq(0, 100, 10))




end.rcode-->

<h1> Total Number of Deaths from Climbing Mount Everest </h1>
<p>
The total number of death recorded from climbing Mount Everest for each of the twelve calendar months between 1922 and 2014 is <!--rinline I(count) -->
</p>

<h1> Death Counts by Month </h1>
<p>
January: <!--rinline I(allDeathJanCount) --> <BR>

Febraury: <!--rinline I(allDeathFebCount) --> <BR>

March: <!--rinline I(allDeathMarCount) --> <BR>

April: <!--rinline I(allDeathAprCount) --> <BR>

May: <!--rinline I(allDeathMayCount) --> <BR>

June: <!--rinline I(allDeathJunCount) --> <BR>

July: <!--rinline I(allDeathJulCount) --> <BR>

August: <!--rinline I(allDeathAugCount) --> <BR>

September: <!--rinline I(allDeathSeptCount) --> <BR>

October: <!--rinline I(allDeathOctCount) --> <BR>

November: <!--rinline I(allDeathNovCount) --> <BR>

December: <!--rinline I(allDeathDecCount) --> <BR>

<b>Total: <!--rinline I(count) -->
</p>



</body>
</html>
